<div class="layout py-4">
    <div class="topHalf">
        <H1 class="px-2 py-1 mb-4 bar">STEVEN LYNE</H1>
        <img id="steve" class="img-thumbnail mb-2" src="/assets/img/stevelyne3.jpg" alt="Steve Lyne">
    </div>
    <div class="bottomHalf">
        <H4 class="px-2 py-1 my-1 mb-3 bar">Vem är jag?</H4>
        <p>Jag har mitt ursprung i England, men efter 25 år i Sverige har jag nu två länder jag kallar mitt hem. Uppvuxen i en semesterstad vid havet har jag en förkärlek för vatten. Som ung engagerade jag mig mycket inom scout verksamheten och lärde mig att uppskatta gemenskap likväl naturen. Redan tidigt hade jag ett brinnande intresse för datorer, och redan på 80-talet kunde jag programmera med språket BASIC.</p>
        <p class="py-3">Under cirka 20 år har jag arbetat med olika chefsbefattningar inom tillverkningsindustrin. Jag trivs mycket bra i utmanande roller med tuffa uppsatta mål. Jag behärskar processoptimering väl, och gör det alltid med medkänsla. Nu ser jag fram emot att arbeta som front end utvecklare, så min kreativa sida äntligen får chansen att andas.</p>
         <H4 class="py-1 px-2 mt-2 mb-4 bar">Kontaktuppgifter</H4>
        <div class="kIcons mb-2">
            <div class="d-flex px-3 py-1 lFlex">
                <i class="kLeft fas fa-map-marker-alt"></i>
                <div class="kRight">
                    <small>Karlsgatan 15A, 722 14 Västerås</small>
                </div>
            </div>
            <div class="d-flex px-3 py-1 mFlex">
                <i class="kLeft fas fa-phone"></i>
                <div class="kRight">
                    <small>070-395 96 25</small>
                </div>
            </div>
            <div class="d-flex px-3 py-1 rFlex">
                <i class="kLeft far fa-envelope"></i>
                <div class="kRight">
                    <small><a href="stevelyne1971@gmail.com">stevelyne1971@gmail.com</a></small>
                </div>
            </div>
        </div>
    </div>

</div>
