<!-- <p>contact works!</p> -->

<div class="py-5">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="header shadow radiusBottom">
        <div class="bar p-3 text-center mb-5 radiusTop">
          <h2>Kontakta mig</h2>
        </div>
  
        <div class="row px-4">
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="Ditt namn"
            formControlName="fullName"
            [class.is-valid]="fullName.valid"
            [class.is-invalid]="fullName.invalid && (fullName.dirty && fullName.touched)"
            >
            <div *ngIf="(fullName.touched && fullName.dirty) && fullName.invalid">
              <small class="text-danger" *ngIf="fullName.errors?.required">
                  Ett namn måste anges!
              </small>   
              <small class="text-danger" *ngIf="fullName.errors?.minlength">
                  Ett längre namn måste anges!
              </small>   
              <small class="text-danger" *ngIf="fullName.errors?.maxlength">
                  Ett kortare namn måste anges!
              </small>   
            </div>
          </div>
        </div>
  
        <div class="row px-4">
          <div class="col mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="Din emailadress"
            formControlName="email"
            [class.is-valid]="email.valid"
            [class.is-invalid]="email.invalid && (email.dirty && email.touched)"
            >
            <div *ngIf="(email.touched && email.dirty) && email.invalid">
              <small class="text-danger" *ngIf="email.errors?.required">
                  Ett emailadress måste anges!
              </small>   
              <small class="text-danger" *ngIf="email.errors?.email">
                  Ett giltigt emailadress måste anges!
              </small>   
            </div>
          </div>
        </div>
  
        <div class="row px-4">
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="Ämne"
            formControlName="subject"
            [class.is-valid]="subject.valid"
            [class.is-invalid]="subject.invalid && (subject.dirty && subject.touched)"
            >
            <div *ngIf="(subject.touched && subject.dirty) && subject.invalid">
              <small class="text-danger" *ngIf="subject.errors?.required">
                  Ett ämne måste anges!
              </small>   
              <small class="text-danger" *ngIf="subject.errors?.minlength">
                  Ett längre ämne måste anges!
              </small>   
              <small class="text-danger" *ngIf="subject.errors?.maxlength">
                Ett kortare ämne måste anges!
              </small>   
            </div>
          </div>
  
        </div>
  
        <div class="row px-4">
          <div class="mb-3">
            <textarea 
            class="form-control"
            rows=7
            placeholder="Ditt meddelande"
            formControlName="message"
            [class.is-valid]="message.valid"
            [class.is-invalid]="message.invalid && (message.dirty && message.touched)"
            >
            </textarea>
            <div *ngIf="(message.touched && message.dirty) && message.invalid">
              <small class="text-danger" *ngIf="message.errors?.required">
                  Ett meddelande måste anges!
              </small>   
              <small class="text-danger" *ngIf="message.errors?.minlength">
                  Ett längre meddelande måste anges!
              </small>   
              <small class="text-danger" *ngIf="message.errors?.maxlength">
                  Ett kortare meddelande måste anges!
              </small>   
            </div>
          </div>
        </div>
  
        <div class="row px-4">
          <div class="mb-3 btnStyle">
            <button [disabled]="!contactForm.valid" class="btn btn-primary w-50" [class.btn-light]="!contactForm.valid">Skicka</button>
          </div>
        </div>
  
      </div>
    </form>
  </div>
