<div *ngIf="!sent" class="py-4" style="display:flex; justify-content: center;">
  
    <form [formGroup]="contactForm" #f="ngForm" (ngSubmit)="sendEmail($event)" class="col-12 col-sm-12 col-md-8">
      <div class="header shadow radiusBottom">
        <div class="bar p-3 text-center mb-5 radiusTop">
          <h2>{{language==='English'?'Contact me':'Kontakta mig'}}</h2>
        </div>
  
        <div class="row px-4">
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="{{language==='English'?'Your name':'Ditt namn'}}"
            formControlName="fullName"
            [class.is-valid]="fullName.valid"
            [class.is-invalid]="fullName.invalid && (fullName.dirty && fullName.touched)"
            >
            <div *ngIf="(fullName.touched && fullName.dirty) && fullName.invalid">
              <small class="text-danger" *ngIf="fullName.errors?.required">
                  {{language==='English'?'A name is required':'Ett namn måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="fullName.errors?.minlength">
                  {{language==='English'?'A longer name is required':'Ett längre namn måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="fullName.errors?.maxlength">
                  {{language==='English'?'A shorter name is required':'Ett kortare namn måste anges!'}}
              </small>   
            </div>
          </div>
        </div>
  
        <div class="row px-4">
          <div class="col mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="{{language==='English'?'Your email':'Din emailadress'}}"
            formControlName="email"
            [class.is-valid]="email.valid"
            [class.is-invalid]="email.invalid && (email.dirty && email.touched)"
            >
            <div *ngIf="(email.touched && email.dirty) && email.invalid">
              <small class="text-danger" *ngIf="email.errors?.required">
                  {{language==='English'?'An email is required':'En emailadress måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="email.errors?.email">
                  {{language==='English'?'A valid email is required':'En giltig emailadress måste anges!'}}
              </small>   
            </div>
          </div>
        </div>
  
        <div class="row px-4">
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            placeholder="{{language==='English'?'Subject':'Ämne'}}"
            formControlName="subject"
            [class.is-valid]="subject.valid"
            [class.is-invalid]="subject.invalid && (subject.dirty && subject.touched)"
            >
            <div *ngIf="(subject.touched && subject.dirty) && subject.invalid">
              <small class="text-danger" *ngIf="subject.errors?.required">
                  {{language==='English'?'A subject is required':'Ett ämne måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="subject.errors?.minlength">
                {{language==='English'?'A longer subject is required':'Ett längre ämne måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="subject.errors?.maxlength">
                {{language==='English'?'A shorter subject is required':'Ett kortare ämne måste anges!'}}
              </small>   
            </div>
          </div>
  
        </div>
  
        <div class="row px-4">
          <div class="mb-3">
            <textarea 
            class="form-control"
            rows=7
            placeholder="{{language==='English'?'Your message':'Ditt meddelande'}}"
            formControlName="message"
            [class.is-valid]="message.valid"
            [class.is-invalid]="message.invalid && (message.dirty && message.touched)"
            >
            </textarea>
            <div *ngIf="(message.touched && message.dirty) && message.invalid">
              <small class="text-danger" *ngIf="message.errors?.required">
                {{language==='English'?'A message is required':'Ett meddelande måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="message.errors?.minlength">
                {{language==='English'?'A longer message is required':'Ett längre meddelande måste anges!'}}
              </small>   
              <small class="text-danger" *ngIf="message.errors?.maxlength">
                {{language==='English'?'A shorter message is required':'Ett kortare meddelande måste anges!'}}
              </small>   
            </div>
          </div>
        </div>
  
        <div class="row px-4">
          <div class="mb-3 btnStyle">
            <button [disabled]="!contactForm.valid" class="btn btn-primary w-50" [class.btn-light]="!contactForm.valid">{{language==='English'?'Send':'Skicka'}}</button>
          </div>
        </div>
  
      </div>
    </form>
  </div>

  <div *ngIf="sent" class="py-4" style="display:flex; justify-content: center;">
    <div class="col-12 col-sm-12 col-md-8">
      <div class="shadw">
        <div class="bar p-3 text-center mb-5 radius">
          <p>{{language==='English'?'Thanks! Your message has been sent!':'Tack! Ditt meddelande har skickats!'}}</p>
        </div>

      </div>
    </div>
  </div>
